/**
 * @file
 * Styles for administration pages.
 */

@import 'variables';

/**
 * Node add/edit form layout
 */
.form__advanced-toggle {
  display: none;
}

.js body.advanced-sidebar-tray {

  @media (min-width: 1600px) {
    margin-right: 40%;
  }

  .node-form__advanced {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    left: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transform: translate3d(0, 0, 0);

    @media (min-width: $breakpoint-s) {
      width: 400px;
    }
    @media (min-width: 1600px) {
      width: 40%;
      transform: translate3d(-100%, 0, 0);
    }
  }

  .form__advanced-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 100%;

    @media (min-width: 1600px) {
      display: none;
    }
  }

  /* Layout for situations where there's no toolbar */
  &:not(.toolbar-vertical):not(.toolbar-horizontal) {
    @media (min-width: 1200px) {
      margin-right: 400px;
    }
    @media (min-width: 1600px) {
      margin-right: 40%;
    }
    .node-form__advanced {
      @media (min-width: 1200px) {
        transform: translate3d(-100%, 0, 0);
      }
    }
    .form__advanced-toggle {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  /* React to a vertical toolbar layout */
  &.toolbar-vertical {

    .node-form__advanced {
      top: 39px;
    }

    /* Make room for the advanced-sidebar-tray in open state */
    &:not(.toolbar-tray-open) {
      @media (min-width: 1200px) and (max-width: 1599px) {
        margin-right: 400px;

        .form__advanced-toggle {
          display: none;
        }

        .node-form__advanced {
          transform: translate3d(-100%, 0, 0);
        }
      }
    }

    &.toolbar-tray-open {
      @media (min-width: 1440px) and (max-width: 1599px) {
        margin-right: 400px;

        .node-form__advanced {
          transform: translate3d(-100%, 0, 0);
        }

        .form__advanced-toggle {
          display: none;
        }
      }

      &.toolbar-fixed {
        @media (max-width: 1025px) {
          margin-left: 0;
        }
      }
    }
  }

  /* React to a horizontal toolbar layout */
  &.toolbar-horizontal {

    .node-form__advanced {
      top: 39px;
    }

    &.toolbar-tray-open {
      .node-form__advanced {
        top: 79px;
      }
    }

    /* Make room for the advanced-sidebar-tray in open state */
    @media (min-width: 1200px) and (max-width: 1599px) {
      margin-right: 400px;

      .node-form__advanced {
        transform: translate3d(-100%, 0, 0);
      }

      .form__advanced-toggle {
        display: none;
      }
    }


  }

  /* Advanced sidebar tray is explicitly set to open */
  &.advanced-sidebar-tray-open {
    &.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
      margin-left: 0;
    }

    .node-form__advanced {
      transform: translate3d(-100%, 0, 0);
    }
  }

}

.node-form__layout {
  box-sizing: border-box;
}

.node-form__advanced {
  background: #f7f7f7;
  box-shadow: -1px 0 1px rgba(0,0,0,0.3);

  /* @todo File an issue to add a standard class to all text-like inputs */
  .form-autocomplete,
  .form-text,
  .form-tel,
  .form-email,
  .form-url,
  .form-search,
  .form-number,
  .form-color,
  textarea {
    box-sizing:         border-box;
    width: 100%;
    max-width: 100%;
  }
}

.node-form__actions {
  position: relative;
  background: white;
  padding-right: 36px;
  padding-left: 36px;
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3);

  @media (min-width: $breakpoint-s) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .toolbar-vertical.toolbar-tray-open & {
    @media (min-width: 1025px) {
      margin-left: 240px;
    }
  }

}
