/**
 * @file
 * Styles for administration pages.
 */

@import 'variables';

$advanced-sidebar-fixed-width-small: 300px;
$advanced-sidebar-fixed-width: 400px;
$advanced-sidebar-fluid-width: 40%;

/**
 * Node add/edit form layout
 */

.node-form__layout {
  box-sizing: border-box;
}

/* Default for the case that no JS is available */
[data-toggle-advanced-sidebar-tray] {
  display: none;
}

/**
 * Advanced sidebar tray basics for small screens and JS:
 *
 */
.js body.advanced-sidebar-tray {

  /* Override the toolbar css and always position it fixed to the top */
  .toolbar-bar {
    position: fixed;
  }

  .node-form__advanced {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $advanced-sidebar-fixed-width-small;
    left: 100%;
    overflow: auto;
    transform: translate3d(0, 0, 0);
    z-index: 1000;
  }

  /* Show the toggle buttons for the advanced sidebar tray. */
  [data-toggle-advanced-sidebar-tray] {
    display: block;
  }

  .form__advanced-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 100%;

  }


  /* A vertical toolbar layout */
  &.toolbar-vertical {

    .node-form__advanced {
      top: 39px;
    }

    /* Override the toolbar css and overlay the body with the toolbar tab by
     * default.
     */
    &.toolbar-tray-open.toolbar-fixed {
      margin-left: 0;
    }
  }

  /* React to a horizontal toolbar layout */
  &.toolbar-horizontal {

    .node-form__advanced {
      top: 39px;
    }

    &.toolbar-tray-open {
      .node-form__advanced {
        top: 79px;
      }
    }

  }

  /* Advanced sidebar tray is explicitly set to open */
  &.advanced-sidebar-tray-open {
    .node-form__advanced {
      transform: translate3d(-100%, 0, 0);
    }
  }

}

/**
 * On tablets in portrait mode
 */
@include for-tablet-portrait-and-up {

}

/**
 * On a tablet in landscape and bigger screens:
 * - the advanced sidebar has a bigger size
 */
@include for-tablet-landscape-and-up {
  .js body.advanced-sidebar-tray {
    .node-form__advanced {
      width: $advanced-sidebar-fixed-width;
    }
  }
}

/**
 * On a bigger tablet in landscape and bigger screens:
 * - the body will make room for the advanced sidebar if it is open
 */
@include for-big-tablet-landscape-and-up {
  .js body.advanced-sidebar-tray-open {
    margin-right: $advanced-sidebar-fixed-width;
  }
}

/**
 * On a  desktop screen:
 * - the body will make room for the advanced sidebar with a fluid width
 * - the advanced sidebar will always be shown with a fluid width
 * - the toggle buttons will be hidden
 */
@include for-desktop-and-up {
  .js body.advanced-sidebar-tray {
    margin-right: $advanced-sidebar-fluid-width;

    .node-form__advanced {
      width: $advanced-sidebar-fluid-width;
      transform: translate3d(-100%, 0, 0);
    }

    [data-toggle-advanced-sidebar-tray] {
      display: none;
    }
  }
}

/**
 * On a bigger desktop screen:
 * - the body will have room on the left side for the toolbar in vertical
 *   orientation
 */
@include for-big-desktop-and-up {
  .js body.advanced-sidebar-tray {
    &.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
      margin-left: 240px;
    }
  }
}


/* Action bar styling */
.node-form__actions {
  position: relative;
  background: white;
  padding-right: 36px;
}

/**
 * On a tablet portrait screen:
 * - the action bar is fixed to the bottom of the screen
 * - the action bar will make room for the advanced sidebar
 */
@include for-tablet-portrait-and-up {
  /* Fixed action bar */
  .node-form__actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding-left: 36px;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.3);

    .advanced-sidebar-tray-open & {
      margin-right: $advanced-sidebar-fixed-width-small;
    }
  }
}

/**
 * On a tablet in landscape and bigger screens:
 * - the action bar will make room for the advanced sidebar with a bigger size
 */
@include for-tablet-landscape-and-up {
  .node-form__actions {
    .advanced-sidebar-tray-open & {
      margin-right: $advanced-sidebar-fixed-width;
    }
  }
}

/**
 * On a desktop screen:
 * - the action bar will make room for the advanced sidebar with a fluid size
 */
@include for-desktop-and-up {
  /* Make room for an vertically oriented open toolbar tab */
  .node-form__actions {
    margin-right: $advanced-sidebar-fluid-width;
  }
}
/**
 * On a bigger desktop screen:
 * - the action bar will make room on the left side for the toolbar in vertical
 *   layout
 */
@include for-big-desktop-and-up {
  /* Make room for an vertically oriented open toolbar tab */
  .toolbar-vertical.toolbar-tray-open {
    .node-form__actions {
      margin-left: 240px;
    }
  }
}

/* Form styles for the advanced sidebar */
.node-form__advanced {
  background: #f7f7f7;
  box-shadow: -1px 0 1px rgba(0,0,0,0.3);

  /* @todo File an issue to add a standard class to all text-like inputs */
  .form-autocomplete,
  .form-text,
  .form-tel,
  .form-email,
  .form-url,
  .form-search,
  .form-number,
  .form-color,
  textarea {
    box-sizing:         border-box;
    width: 100%;
    max-width: 100%;
  }
}
