
@import 'variables';

$paragraph-preview-height: 90px;
$paragraph-preview-thumbnail-height: 90px;
$paragraph-preview-thumbnail-width: 150px;

/**
 * Paragraph multi reference field item's draggable row:
 * 1. separate paragraph "items" visually and make room for [add] buttons
 */
.field-multiple-table--paragraphs {
  & > thead {
    tr {
      border-bottom: 0;
    }
    th {
      border: 0;
      background: transparent;
    }
    .field-label {
      padding-left: 0;
    }
  }
  & > tbody > tr {
    background: $primary-color-lighter;
    border-bottom: 30px solid $primary-color-lightest; /* 1 */

    &.draggable {
      &:hover {
        background: $primary-color-lighter;
      }

      .field-multiple-drag {
        position: relative;
        width: 58px;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;

        .js & {
          .tabledrag-changed {
            position: absolute;
            left: 0;
            top: 0;
            width: 5px;
            height: 100%;
            font-size: 0;
            background: #e09600;
          }

          .tabledrag-handle {
            display: inline-block;
            height: 1em;
            float: none;

            .handle {
              background: url(../images/icons/move.svg) no-repeat center center;
            }
          }
        }
      }

      &.drag {
        background: $primary-color-lighter-2;

        .field-multiple-drag {
          .tabledrag-handle {
            .handle {
              background-image: url(../images/icons/move--primary-blue.svg);
            }
          }
        }
      }

      .remove {
        .button__icon {
          path {
            fill: $primary-color;
          }
        }
      }

      &:hover {
        .remove {
          .button__icon {
            path {
              fill: $primary-color-lighter-2;
            }
          }
        }
      }
    }
  }
}

.paragraph-form-item {
  position: relative;
}

.paragraph-form-item--has-preview {
  .messages {
    @include for-tablet-portrait-and-up {
      margin-right: 15em;
    }
  }

  .paragraph-form-item__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-left: 1em;

    max-height: $paragraph-preview-height;
    height: $paragraph-preview-height;

    .paragraph-type-title {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #ccc;
      text-align: center;
    }

    .paragraph-form-item__links {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        button {
          max-height: 40px;
        }

        + li {
          margin-top: 5px;

          &:before {
            display: block;
            content: '';
            margin: 0 1.3rem 0.3rem;
            border-top: 1px solid #ccc;
          }
        }
      }
    }
  }
}

/**
 * Editing mode for a paragraph item:
 * 1. bleed the background into the padding on the table row.
 */
.paragraph-form-item--has-subform {
  display: flex;
  flex-direction: column;
  background: $primary-color-darkest;
  margin-top: -10px;  /* 1 */
  margin-bottom: -10px;  /* 1 */
  padding: 20px;

  .paragraph-form-item__actions {
    margin-top: 1em;
    display: flex;
    align-items: flex-end;
    order: 10;
    flex-wrap: nowrap;

    .paragraphs-remove-button-container,
    .paragraph-form-item__links {
      flex-basis: auto;
    }
    .paragraph-type-title {
      flex: 1 1 auto;
      font-size: 15px;
      text-transform: uppercase;
      text-align: left;
    }

    .paragraph-form-item__links {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      // @TODO: Remove rule when remove icon has been removed from form.
      .remove {
        display: none;
      }
    }
  }

  .filter-wrapper {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .field--widget-inline-entity-form-simple {
    fieldset {
      padding: 0;
      border: 0;
    }
  }

  .field--name-field-media {
    legend {
      display: none;
    }
  }

  .field-multiple-table {
    thead {
      tr {
        border: 0;

        &:hover {
          background: transparent;
        }

        th {
          background: transparent;
          color: $primary-color-lightest;
          border: 0;
        }
      }
    }

    tbody {
      tr {
        border-bottom-color: $primary-color-dark;

        &.draggable,
        &.drag-previous {
          background: transparent;
        }
      }
    }
  }
}

.paragraph-form-item__actions {
  min-width: 160px;
}

/* ----------------------- Paragraph preview -------------------------------- */

.paragraph-form-item__preview {
  flex: 1 1 auto;
  height: $paragraph-preview-height;
  max-height: $paragraph-preview-height;
  text-overflow: ellipsis;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }
}


.paragraph-preview {
  display: flex;
}
.paragraph-preview__thumbnail {
  margin-right: 1em;
  width: $paragraph-preview-thumbnail-width;
  height: $paragraph-preview-thumbnail-height;
  border: 1px solid white;
  overflow: hidden;

  img {
    height: $paragraph-preview-thumbnail-height;
    width: auto;
  }

  .thumbnail-quadruple {
    display: flex;
    flex-wrap: wrap;
    background: $gray-lightest;
    justify-content: space-between;
    max-height: 100%;

    .thumbnail-quadruple__item {
      flex: 0 0 74px;
      max-width: 74px;
      height: 44px;
      max-height: 44px;
      border: 1px solid white;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;

      }
    }
  }

}
.paragraph-preview__data {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 1.3em;

  .text-formatted {
    & * {
      margin: 0;
      font-size: 12px;
      line-height: 1.3em;
    }
  }

  .field__label {
    display: none;

    @include for-tablet-portrait-and-up {
      display: block;
    }
  }
}

/* -------------------------- Interaction ----------------------------------- */

.paragraph-form-item {
  .ajax-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    background: rgba(255,255,255,0.65);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
