
@import 'variables';

$paragraph-preview-height: 90px;
$paragraph-preview-thumbnail-height: 90px;
$paragraph-preview-thumbnail-width: 150px;

.field--name-field-paragraphs.form-wrapper {
  .field-multiple-table {
    tbody > tr {
      background: $primary-color-lighter;
    }
  }
}
.paragraph-form-item {

}

.paragraph-form-item--has-preview {

  .paragraph-form-item__actions {
    float: right;
    margin-left: 1em;

    max-height: $paragraph-preview-height;
    height: $paragraph-preview-height;

    .paragraph-type-title {
      float: left;
      width: 65%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #CCC;
    }

    .paragraphs-remove-button-container,
    .paragraphs-dropbutton-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 35%;
      float: right;
      text-align: right;
      padding: 0;
      height: 50%;
    }
  }
}

.paragraph-form-item--has-subform {
  display: flex;
  flex-direction: column;

  .paragraph-form-item__actions {
    margin-top: 1em;
    display: flex;
    order: 10;
    flex-wrap: nowrap;

    .paragraphs-remove-button-container,
    .paragraphs-dropbutton-wrapper {
      flex-basis: auto;
    }
    .paragraph-type-title {
      flex: 1 1 auto;
      text-align: left;
    }
  }
}

.paragraph-form-item__actions {
  min-width: 160px;
}

.paragraph-form-item__preview {
  flex: 1 1 auto;
  height: $paragraph-preview-height;
  max-height: $paragraph-preview-height;
  text-overflow: ellipsis;
  overflow: hidden;
}


.paragraph-preview {
  display: flex;
}
.paragraph-preview__thumbnail {
  margin-right: 1em;
  width: $paragraph-preview-thumbnail-width;
  height: $paragraph-preview-thumbnail-height;
  border: 1px solid white;
  overflow: hidden;

  img {
    height: $paragraph-preview-thumbnail-height;
    width: auto;
  }

  .thumbnail-quadruple {
    display: flex;
    flex-wrap: wrap;
    background: $gray-lightest;
    justify-content: space-between;
    max-height: 100%;

    .thumbnail-quadruple__item {
      flex: 0 0 74px;
      max-width: 74px;
      height: 44px;
      max-height: 44px;
      border: 1px solid white;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;

      }
    }
  }

}
.paragraph-preview__data {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 1.3em;

  .text-formatted {
    & * {
      margin: 0;
      font-size: 12px;
      line-height: 1.3em;
    }
  }
}
