@import 'variables';

.field--widget-entity-reference-paragraphs {
  // Add more buttons.
  .paragraph-type-add-modal.first-button {
    margin-top: -41px;
    margin-bottom: 15px;
    margin-left: -29px;
  }
  .paragraph-form-item--has-subform {
    .paragraph-type-add-modal.first-button {
      margin-top: -56px;
      margin-left: 0;
    }
  }

  // First button.
  tr:first-child {
    .paragraph-type-add-modal.first-button {
      margin-top: -60px;
    }
    .paragraph-form-item--has-subform .paragraph-type-add-modal.first-button {
      margin-top: -56px;
    }
  }

  // Last button.
  .clearfix > .paragraph-type-add-modal.first-button {
    margin-top: 0;
    margin-left: 0;

    // Different on taxonomy pages.
    .path-taxonomy & {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .paragraph-type-add-modal.first-button {
      margin-top: -48px;
    }
    tr:first-child .paragraph-type-add-modal.first-button  {
      margin-top: -63px;
    }
  }
  thead {
    border-bottom: 30px solid transparent;
  }
}

.field-multiple-table--paragraphs {
  & > tbody > tr {
    border-bottom: 30px solid $primary-color-lightest;

    @media screen and (max-width: 600px) {
      border-bottom: 38px solid $primary-color-lightest;
    }
  }

  & > tbody > tr:last-child {
    border-bottom-width: 0;
  }
}
