{#
/**
 * @file
 * Theme implementation to present a gallery media entity in a paragraph preview.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('paragraph-preview') }}>
  <div class="paragraph-preview__thumbnail">
    {{ content.field_media_images }}
  </div>
  <div class="paragraph-preview__data">
    {{ content|without('field_media_images') }}
  </div>
</article>
