{#
/**
 * @file
 * Thunder admin theme implementation of modal add paragraph dialog template with custom bottom add button.
 *
 * Following classes have custom use:
 *   - paragraphs-add-dialog - is used to wrap the dialog.
 *   - paragraphs-add-dialog-row - is used to wrap the paragraph type rows.
 *
 * @ingroup themeable
 */
#}

{#
/**
 * Since bottom button for adding of paragraphs is customized in Thunder Admin theme, we have to hide default add
 * button provided by Paragraphs module.
 *
 * In the case when an old patch is used or there is no paragraphs patch for add in between buttons, then default template
 * provided by paragraphs module is used.
 */
#}
{% if add.add_more_delta %}
    <div class="paragraphs-add-button-wrapper js-hide">
        {{ add }}
    </div>
    <div class="paragraphs-add-dialog js-hide">
        <ul class="paragraphs-add-dialog-list">
            {% for button in buttons %}
                <li class="paragraphs-add-dialog-row">
                    {{ button }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% elseif '@paragraphs/paragraphs-add-dialog.html.twig'  %}
    {% include '@paragraphs/paragraphs-add-dialog.html.twig' %}
{% endif %}
