@import 'variables';

/**
 * @file
 * Breadcrumbs.
 */

.breadcrumb {
  line-height: 1em;
  padding: 0.6em 0 1em;

  li {
    color: $gray-light;
  }

  a {
    color: inherit;
    font-size: 10px;
    line-height: 12px;
  }
}
