@import 'variables';

/**
 * Content header.
 */
.content-header {
  overflow: hidden;
  background-color: $gray-lightest;
  margin-bottom: 20px;
  padding: 24px 0 0;

  .page-title {
    font-size: 16px;
    line-height: 18px;
  }
  > .layout-container {
    border-bottom: 1px solid $primary-color-intense;
  }
}
