/**
 * Presentational styles for Drupal dialogs.
 */

@import "variables";

@mixin browser-border($is-top: true) {
  border: 4px solid $primary-color-lightest;
  @if($is-top) {
    border-bottom: none;
  }
  @else {
    border-top: none;
  }
}

.ui-dialog {
  background: transparent;
  border: 0;
  position: absolute;
  z-index: 1260;
  padding: 0;

  @media all and (max-width: 48em) { /* 768px */
    min-width: 92%;
    max-width: 92%;
  }

  .ui-dialog-titlebar {
    background: $primary-color-darker;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 49px 0 15px; /* LTR */
    @include browser-border;

    [dir="rtl"] & {
      padding-left: 49px;
      padding-right: 15px;
    }
  }

  .ui-dialog-title {
    font-size: 1.231em;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;

    &:before {
      content: "";
      height: 12px;
      width: 5px;
      background: $primary-color-intense;
      display: inline-block;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }

  .ui-dialog-titlebar-close {
    border: 0;
    background: none;
    right: 20px; /* LTR */
    top: 20px;
    margin: 0;
    height: 16px;
    width: 16px;
    position: absolute;

    [dir="rtl"] & {
      right: auto;
      left: 20px;
    }
  }

  .ui-icon.ui-icon-closethick {
    background: url(../../images/icons/ex.svg) 0 0 no-repeat;
    margin-top: -12px;
  }
  .ui-widget-content.ui-dialog-content {
    background: $primary-color-darker;
    overflow: auto;
    padding: 0.4em 1.2em 1.2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @include browser-border(false)
  }
  .ui-widget-content.ui-dialog-buttonpane {
    background: #f5f5f2;
    /*border-top: 1px solid #bfbfbf;*/
    margin: 0;
    padding: 15px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .ui-dialog-buttonpane .ui-dialog-buttonset {
    margin: 0;
    padding: 0;
    float: none;
  }
  .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
    padding: 0;
  }
  .ui-dialog-content {
    position: static;
  }

  /* Form action buttons are moved in dialogs. Remove empty space. */
  .ui-dialog-content .form-actions {
    padding: 0;
    margin: 0;
  }
  .ajax-progress-throbber {
    /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
    left: 49%; /* LTR */
    position: fixed;
    top: 48.5%;
    z-index: 1000;
    background-color: #232323;
    background-image: url(../../images/loading-small.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 24px;
    opacity: 0.9;
    padding: 4px;
    width: 24px;

    [dir="rtl"] & {
      left: auto;
      right: 49%;
    }
  }

  .ajax-progress-throbber .throbber,
  .ajax-progress-throbber .message {
    display: none;
  }
}

.views-ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0;
}
