/**
 * Presentational styles for Drupal dialogs.
 */

@import "variables";

@mixin browser-border($is-top: true) {
  border: 4px solid $primary-color-lightest;
  @if($is-top) {
    border-bottom: none;
  }
  @else {
    border-top: none;
  }
}
/* stylelint-disable string-no-newline */
@import "@theme-seven/css/components/dialog.css remove {
  .ui-dialog .ui-dialog-titlebar-close {}
  .ui-dialog .ui-dialog-titlebar-close:hover {}
  .ui-dialog .ui-dialog-titlebar-close:focus {}
}";
/* stylelint-enable string-no-newline */

.ui-dialog {
  // background changed
  // browser-border added
  .ui-dialog-titlebar {
    background: $primary-color-darker;
    @include browser-border;
  }

  // :before pseudo selector added
  .ui-dialog-title {
    &:before {
      content: "";
      height: 12px;
      width: 5px;
      background: $primary-color-intense;
      display: inline-block;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }

  // top changed
  .ui-dialog-titlebar-close {
    border: 0;
    background: none;
    right: 20px; /* LTR */
    top: 24px;
    margin: 0;
    height: 16px;
    width: 16px;
    position: absolute;
  }

  // background: image url changed
  .ui-icon.ui-icon-closethick {
    background: url(../../images/icons/ex.svg) 0 0 no-repeat;
    margin-top: -12px
  }
  // background changed
  // padding changed
  // border-radius added
  // browser-border added
  .ui-widget-content.ui-dialog-content {
    background: $gray-lightest;
    padding: 0.4em 1.2em 1.2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @include browser-border(false)
  }

  // background-image changed
  .ajax-progress-throbber {
    background-image: url(../../images/loading-small.gif);
  }
}

// NEW
.views-ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0;
}
