// [TJW - refactor] Overrides modules/entity_browser

@import "variables";

@import "../../../../../modules/contrib/entity_browser/css/entity_browser.tabs";

.eb-tabs {
  // border-bottom removed (todo)
  ul {

    // padding added
    li {
      padding: .75em;

      // NEW
      &:first-child {
        padding-left: 0;
      }

      // .eb-tabs ul li.active selector removed

      // NEW
      &.active a {
          color: $primary-color-intense;
          border-bottom: 3px solid $primary-color-intense;
      }
      // padding removed (todo)
      // padding-bottom added
      // color added
      a {
        display: block;
        padding-bottom: 2px;
        color: $primary-color-intense;
      }
    }
  }
}
