@import 'variables';

/* stylelint-disable string-no-newline */
@import '@theme-seven/css/components/entity-meta.css remove {
  .entity-meta details:first-child {}
}';
/* stylelint-enable string-no-newline */

.entity-meta__title {
  text-shadow: 0 1px 0 #fff;
  margin: 0.25em 0;
}

.entity-meta details > summary {
  color: $gray-lighter;

  &:hover {
    text-decoration: none; // Added.
  }

  .details-title {
    color: $gray-lighter; // Added.

    &:hover {
      text-decoration: none; // Added.
    }
  }
}
