/**
 * @file
 * Styles for Entity Browser.
 *
 * These styles are compatible with Bartik, Seven, and Classy themes.
 */

@import "variables";

/**
 * Form elements.
 */
.entity-browser-form input.edit-submit {
  margin-top: 20px;
}

/**
 * Tab navigation.
 */
.entity-browser-form nav.tabs {
  margin-bottom: 20px;
}

.entity-browser-form input.tab {
  display: none;
}

.entity-browser-form .entity-tabs a {
  cursor: pointer;
}

.eb-tabs ul {
  margin: 0;
  padding: 0;
}

.eb-tabs ul li {
  display: inline-block;
}

.eb-tabs ul li.active {
  border-bottom: 3px solid $primary-color-intense;
  a {
    color: $primary-color-intense;
  }
}

.eb-tabs ul li a {
  padding: .75em 1.5em;
  display: block;
  color: $primary-color-lightest;
}
