@import 'variables';

@import "@theme-seven/css/components/entity-meta.css";


// font-size removed (todo)
// font-weight removed (todo)
.entity-meta__title {
  text-shadow: 0 1px 0 #fff;
  margin: 0.25em 0;
}

// .entity-meta details:first-child selector removed

// color changed
.entity-meta details > summary {
  color: $gray-lighter;

  // NEW
  &:hover {
    text-decoration: none;
  }

  // NEW
  .details-title {
    color: $gray-lighter;

    // NEW
    &:hover {
      text-decoration: none;
    }
  }
}
