/**
 * Form elements.
 * @todo: This needs to be divided into clear partials or sections, atm this is
 *        a mess copied together from Classy and Seven
 */
@import 'variables';

/**
 * Removed form.css from base theme (classy) library and import using css-sniper.
 *
 * Removed font-size inherit from label (classy) [Refactor]
 */
/* stylelint-disable string-no-newline */
@import "@theme-classy/css/components/form.css remove {
  .form-composite>legend, .label { font-size }
}";
/* stylelint-enable string-no-newline */

// Fixed relative urls in classy by copying images here.
.form-required:after {
  background-image: url(../../images/icons/required.svg);
}
.form-item--error-message:before {
  background: url(../../images/icons/error.svg) no-repeat;
}

/* ------------------------ copied from Seven form.css ---------------------- */
/* stylelint-disable string-no-newline */
@import "@theme-seven/css/components/form.css remove {
  fieldset:not(.fieldgroup) {}
  @-moz-document url-prefix() { fieldset:not(.fieldgroup) {} }
  fieldset:not(.fieldgroup)>legend {}
  input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, textarea.form-textarea { box-sizing }
}";
/* stylelint-enable string-no-newline */

// This was added
fieldset {
  border: 1px solid $gray-lighter;
}

// Removed fieldset in @import since .content-form__main > details was added to this for #2899606
// @todo Should be more generic [Refactor]
// background-color removed
.content-form__main > details,
fieldset:not(.fieldgroup) {
  border-radius: 2px;
  margin: 1em 0;
  padding: 30px 18px 18px;
  min-width: 0;
  position: relative;
}

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */
// Originally added for fieldset:not(.fieldgroup) in seven, css-sniper does not handle AtRule selectors.
// Selector .content-form__main > details was added to this for #2899606
@-moz-document url-prefix() {
  .content-form__main > details,
  fieldset:not(.fieldgroup) {
    display: table-cell;
  }
}

// Removed fieldset > legend in @import since .content-form__main > details was added to this for #2899606
.content-form__main > details > summary,
fieldset:not(.fieldgroup) > legend {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.08em;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}
// Different margin & text-transform added
label {
  margin: 0 0 0 0.3em;
  text-transform: uppercase;
}
// New
.form-type-radio,
.form-type-checkbox {
  label {
    font-size: $font-size-small;
  }
}



/* @todo [Refactor] Remove the whole block and fix /admin/modules */
/* START styles for descriptions */
// Copied from seven: selector was ul.tips, div.description, .form-item .description
.tips,
.description,
.form-item .description {
  margin: 0.2em 0 0 0;
  color: #595959;
  font-size: 0.95em;
}

// selector was ul.tips li
.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}

// Copied from seven: selector was [dir="rtl"] ul.tips li
[dir="rtl"] .tips li {
  margin: 0.25em 1.5em 0.25em 0;
}
// Copied from seven, above would override.
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.5em; /* LTR */
}

// Copied from seven, above would override.
[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-left: 0;
  margin-right: 1.5em;
}
/* END styles for descriptions */

// Border radius & font-size removed (todo) / overriden with next style (only when combined with input)
.form-text,
.form-textarea {
  line-height: normal;
}

// Removed box-sizing, see import
input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  min-height: 35px; // added
  background: #fff;
  border-color: $gray-lighter;
  color: $text-color;
  border-radius: $base-border-radius;
  box-shadow: none; // reset box-shadow (seven)
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: $primary-color-intense;
  box-shadow: none; // reset box-shadow (seven)
}

// @todo [Refactor] Remove from @import, find more robust solution to target firefox browsers.
// #2899359 Select styles for ff: -moz-images-in-menus: 0 is broken, use -moz-device-pixel-ratio
@media screen and (-webkit-min-device-pixel-ratio: 0), screen and (-moz-device-pixel-ratio) {
  // min-height added
  // border color changed
  // border-radius changed
  // background url and color changed
  // cursor removed (todo)
  // -webkit-appearenace: none removed (todo)
  // color added
  select {
    min-height: 35px;
    padding: 1px 1.571em 1px 0.5em;
    border: 1px solid $gray-lighter;
    border-radius: $base-border-radius;
    background:
            url(../../images/icons/caret-down.svg) no-repeat 99% 50% #FFFFFF; /* LTR */
    color: $text-color;
    font-size: 0.875rem;
  }
  // background-position changed
  [dir="rtl"] select {
    padding: 1px 0.714em 1px 1.571em;
    background-position: 1% 50%, 0 0;
  }
  // background-image changed and removed -webkit-linear-gradient
  // color removed (todo)
  select:focus,
  select:hover {
    background-image: url(../../images/icons/caret-down.svg);

  }
}

// Added mozilla hack
@media screen and (-moz-device-pixel-ratio) {
  select {
    -moz-appearance: none;
    padding-top: 6px;
  }
}

// selector was:
// #diff-inline-form select,
// div.filter-options select
/* Exceptions */
.filter-options select,
#diff-inline-form select {
  padding: 0;
}
