// [TJW - refactor] todo: taken from thunder_media module?

/**
 * @file
 * Styles for media forms.
 */

@import 'variables';

.media-form {

}

.media-form__items-widget {
  border: 0;

  .details-wrapper {
    padding: 0;
  }

  .entities-list {
    overflow: auto;
  }


}

.media-form__item-widget {
  float: left;
  position: relative;
  padding: 10px 45px 10px 10px;
  background: rgba(0,0,0, 0.1);
  min-height: 70px;

  .entities-list &:hover {
    opacity: 1;
    background: rgba(0,0,0, 0.4);
  }
  .entities-list--single-item &:hover {
    cursor: default;
  }
  .color-scheme-inverted .entities-list & {
    background: rgba(255,255,255, 0.2);

    &:hover {
      background: rgba(255,255,255, 0.4);
    }
  }

  .image-style-media-thumbnail {
    width: 100%;
  }
}

.media-form__item-widget__action {
  position: absolute;
  display: block;
  right: 4px;
  width: 24px;
  height: 24px;
  margin: 0.5em;
  padding: 0;
}

.media-form__item-widget__action--edit {
  bottom: 0;
}

.media-form__item-widget__action--remove {
  top: 4px;
}
