/**
 * @file
 * Tablesort indicator styles.
 */

.tablesort {
  float: right; /* LTR */
  margin-top: 5px;
  width: 10px;
  height: 10px;
}
[dir="rtl"] .tablesort {
  float: left;
}
.tablesort--asc {
  background-image: url(../../images/icons/twistie-down-dark.svg);
}
a:hover .tablesort--asc {
  background-image: url(../../images/icons/twistie-down-light.svg);
}
.tablesort--desc {
  background-image: url(../../images/icons/twistie-up-dark.svg);
}
a:hover .tablesort--desc {
  background-image: url(../../images/icons/twistie-up-light.svg);
}
