@import "../../../../../core/themes/seven/css/components/tablesort-indicator";

// background-image url changed
.tablesort--asc {
  background-image: url(../../images/icons/twistie-down--primary-blue-darker.svg);
}
// background-image url changed
a:hover .tablesort--asc {
  background-image: url(../../images/icons/twistie-down--primary-blue-intense.svg);
}
// background-image url changed
.tablesort--desc {
  background-image: url(../../images/icons/twistie-up--primary-blue-darker.svg);
}
// background-image url changed
a:hover .tablesort--desc {
  background-image: url(../../images/icons/twistie-up--primary-blue-intense.svg);
}
