/**
 * @file
 * Import and override tour.theme.css provided by seven/tour-styling.
 */
@import '@theme-seven/css/components/tour.theme.css';

.joyride-tip-guide{
  z-index: 1300; //added
}
.joyride-tip-guide a{
  border-bottom: 1px dotted; // added
}
