/**
 * @file
 * Styles for Tour theme.
 */

// [TJW - refactor] TODO

/* Default styles for the container */

.joyride-tip-guide {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  z-index: 1300;

  /* Mobile */
  @media only screen and (max-width: 767px) {
    border-radius: 0;
  }

  /* Add a little css triangle pip, older browser just miss out on the fanciness of it. */
  .joyride-nub {
    border: solid 14px rgba(0, 0, 0, 0.8);

    &.top {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &.bottom {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &.right {
      border-top-color: transparent;
      border-right-color: transparent; /* LTR */
      border-bottom-color: transparent;
    }

    &.left {
      border-top-color: transparent;
      border-left-color: transparent; /* LTR */
      border-bottom-color: transparent;
    }

    [dir="rtl"] & {
      &.right {
        border-left-color: transparent;
        border-right-color: rgba(0, 0, 0, 0.8);
      }

      &.left {
        border-left-color: rgba(0, 0, 0, 0.8);
        border-right-color: transparent;
      }
    }

    &.top-right {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
}

/* Typography */
.joyride-tip-guide {

  h2 {
    color: #fff;
  }

  p {
    line-height: 1.385em;
  }

  a {
    color: #fff;
    border-bottom: 1px dotted;
  }
}


/* Button Style */
.joyride-tip-guide .joyride-next-tip {
  margin: 0;
}

.joyride-timer-indicator-wrap {
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.joyride-timer-indicator {
  background: rgba(255, 255, 255, 0.25);
}

.joyride-close-tip {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;

  &:hover, &:focus {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
}


.joyride-modal-bg {
  background: rgba(0, 0, 0, 0.5);
}

.joyride-expose-wrapper {
  background-color: #ffffff;
}

.joyride-expose-cover {
  background: transparent;
}
