// [TJW - refactor] NEW

@import 'variables';

.form-type-password {
  .form-item__toggle-description {
    vertical-align: bottom;
    left: -2px;
  }

  + .password-suggestions {
    margin-bottom: 4px;
  }
}
