@import 'variables';

// [TJW - refactor] New up until the seven import
* {
  box-sizing: inherit;

  &:after,
  &:before {
    box-sizing: inherit;
  }
}
html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

@import "@origin/css/base/elements.css remove { body, details, .apple .red, .apple > .green { color, font-size }, .apple:nth-child(2) }";

// color changed
// background changed
// font changed to font-size, -weight & -family
// line-height added
// -webkit-font-smoothing added
/**
 * Generic elements.
 */
body {
  color: $text-color;
  background: $gray-lightest;
  font-size: $font-size-base;
  font-weight: normal;
  font-family: $font-family;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
}

// padding changed
// border changed
details summary {
  padding: 0;
  border: 0;
}

// video selector added
// display added
// max-width added
// -ms-interpolation-mode added
img,
video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

// New
figure {
  > img {
    display: block;
  }
}
