.media-form__items-widget{
  border:0;
}

.media-form__items-widget .details-wrapper{
  padding:0;
}

.media-form__items-widget .entities-list{
  overflow:auto;
}

.media-form__item-widget{
  float:left;
  position:relative;
  padding:10px 45px 10px 10px;
  background:rgba(0, 0, 0, 0.1);
  min-height:70px;
}

.entities-list .media-form__item-widget:hover{
  opacity:1;
  background:rgba(0, 0, 0, 0.4);
}

.entities-list--single-item .media-form__item-widget:hover{
  cursor:default;
}

.color-scheme-inverted .entities-list .media-form__item-widget{
  background:rgba(255, 255, 255, 0.2);
}

.color-scheme-inverted .entities-list .media-form__item-widget:hover{
  background:rgba(255, 255, 255, 0.4);
}

.media-form__item-widget .image-style-media-thumbnail{
  width:100%;
}
.media-form__item-widget__action{
  position:absolute;
  display:block;
  right:0px;
  width:24px;
  height:24px;
  padding:0;
  border:none;
  text-indent:-9999px;
}

.media-form__item-widget__action, .media-form__item-widget__action:active, .media-form__item-widget__action:hover, .media-form__item-widget__action:focus{
  background-color:transparent;
  background-position:center;
  background-repeat:no-repeat;
}

.media-form__item-widget__action--edit{
  bottom:0;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%2520width='24'%2520height='24'%2520viewBox='0%25200%252024%252024'%2520xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%2520fill='%231293c9'%2520d='M2%252017.2V21h3.8l11-11.1L13%25206.1%25202%252017.2zM19.7%25207c.4-.4.4-1%25200-1.4l-2.3-2.3c-.4-.4-1-.4-1.4%25200l-1.8%25201.8L18%25208.9%252019.7%25207zM11%252019l-2%25202h13v-2H11z'/%3E%3C/svg%3E");
}

.media-form__item-widget__action--edit.button--highlight, .media-form__item-widget__action--edit:hover, .media-form__item-widget__action--edit:active, .media-form__item-widget__action--edit:focus{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%2520width='24'%2520height='24'%2520viewBox='0%25200%252024%252024'%2520xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%2520fill='%230c5c7f'%2520d='M2%252017.2V21h3.8l11-11.1L13%25206.1%25202%252017.2zM19.7%25207c.4-.4.4-1%25200-1.4l-2.3-2.3c-.4-.4-1-.4-1.4%25200l-1.8%25201.8L18%25208.9%252019.7%25207zM11%252019l-2%25202h13v-2H11z'/%3E%3C/svg%3E");
}

.media-form__item-widget__action--edit:disabled{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%2520width='24'%2520height='24'%2520viewBox='0%25200%252024%252024'%2520xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%2520fill='%23979797'%2520d='M2%252017.2V21h3.8l11-11.1L13%25206.1%25202%252017.2zM19.7%25207c.4-.4.4-1%25200-1.4l-2.3-2.3c-.4-.4-1-.4-1.4%25200l-1.8%25201.8L18%25208.9%252019.7%25207zM11%252019l-2%25202h13v-2H11z'/%3E%3C/svg%3E");
}

.media-form__item-widget__action--remove{
  top:0;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%2520width='15'%2520height='18'%2520viewBox='0%25200%252015%252018'%2520xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%2520fill='%231293c9'%2520d='M1%252016c0%25201.1.975%25202%25202.167%25202h8.666C13.025%252018%252014%252017.1%252014%252016V4H1v12zM15%25201v2H0V1h3.75l1.07-1h5.36l1.07%25201H15zm-5%25205.51c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51zm-3%25200c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51zm-3%25200c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51z'%2520fill-rule='evenodd'/%3E%3C/svg%3E");
}

.media-form__item-widget__action--remove.button--highlight, .media-form__item-widget__action--remove:hover, .media-form__item-widget__action--remove:active, .media-form__item-widget__action--remove:focus{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%2520width='15'%2520height='18'%2520viewBox='0%25200%252015%252018'%2520xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%2520fill='%230c5c7f'%2520d='M1%252016c0%25201.1.975%25202%25202.167%25202h8.666C13.025%252018%252014%252017.1%252014%252016V4H1v12zM15%25201v2H0V1h3.75l1.07-1h5.36l1.07%25201H15zm-5%25205.51c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51zm-3%25200c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51zm-3%25200c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51z'%2520fill-rule='evenodd'/%3E%3C/svg%3E");
}

.media-form__item-widget__action--remove:disabled{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%2520width='15'%2520height='18'%2520viewBox='0%25200%252015%252018'%2520xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%2520fill='%23979797'%2520d='M1%252016c0%25201.1.975%25202%25202.167%25202h8.666C13.025%252018%252014%252017.1%252014%252016V4H1v12zM15%25201v2H0V1h3.75l1.07-1h5.36l1.07%25201H15zm-5%25205.51c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51zm-3%25200c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51zm-3%25200c0-.282.232-.51.5-.51.276%25200%2520.5.228.5.51v8.98c0%2520.282-.232.51-.5.51-.276%25200-.5-.228-.5-.51V6.51z'%2520fill-rule='evenodd'/%3E%3C/svg%3E");
}
.entities-list .item-container > input.media-form__item-widget__action{
  margin:0.5em;
}
